.action-button {
    background-color: var(--primary-button-color);
}

h2 {
    text-align: center;
}

mat-dialog-content {
    margin: 20px;
    text-align: center;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}

button {
    margin: 5px;
}