<div class="content">
    <div class="header">
        <h2 class="page-title">Growth Data</h2>
        <button class="add-plant" mat-raised-button (click)="addPlant()">Add Plant</button>
    </div>
    <div class="container">
        <form [formGroup]="plantsForm" (ngSubmit)="onSave()">
            <div class="fields">
                <p class="name">Plant</p>
                <p class="date">Date</p>
                <p class="growth">Growth</p>
            </div>
            <div *ngIf="plants.length > 0; else noPlants">
                <div *ngFor="let plant of plants" class="plants mat-elevation-z4">
                    <p class="name">{{ plant.name }}</p>
                    <mat-form-field appearance="outline" floatLabel="always" class="date">
                        <input matInput type="date" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="growth">
                        <input matInput type="number" />
                    </mat-form-field>
                    <span>cm</span>
                    <button mat-mini-fab type="button" class="delete" color="warn"
                        (click)="deletePlant(plant.id, plant.name)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <ng-template #noPlants>
                <p id="no-plants" class="mat-elevation-z4">No Plants</p>
            </ng-template>
            <button class="save" mat-raised-button type="submit">Save</button>
        </form>
    </div>
</div>