<div class="header-container">
    <h3>Plants</h3>
</div>
<div class="add-plant-container">
    <button class="add-plant" mat-raised-button (click)="addPlant()">Add Plant</button>
</div>
<section>
    <div class="box_timeline_holder" *ngFor="let group of plantGroups()">
        <div class="box_timeline">
            <ul *ngIf="plants.length > 0; else placeholder">
                <li *ngFor="let plant of plants.slice(group, group + 5); let i = index;" class="plant-container">
                    <h3>{{ plant.name }}</h3>
                    <div class="plant" (click)="onEditPlant(plant)">
                        <mat-icon class="delete" svgIcon="delete" color="warn"
                            (click)="deletePlant(plant.id, plant.name)">
                        </mat-icon>
                    </div>
                    <div class="chart-container" *ngIf="plant.growthData && plant.id">
                        <label class="chart-label">Growth (cm)</label>
                        <div echarts [options]="chartOptions.get(plant.id) || {}" class="chart"></div>
                    </div>
                </li>
            </ul>
            <ng-template #placeholder>
                <ul>
                    <li>
                        <div class="no-plant"></div>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</section>