ol, ul {
	list-style: none;
}

.header-container h3 {
	font-family: 'novecento_sans_widebook';
	color: #50af6f;
	margin: auto;
	text-align: center;
	font-weight: 500;
	font-size: 2.2rem;
}

.add-plant-container {
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: end;
}

.add-plant {
    background-color: #50af6f;
    color: #fff;
    font-family: "novecento_sans_widebook";
    font-weight: light;
    font-size: 1.2rem;
}

section {
    // border: solid 1px orange;
}

.box_timeline_holder{
	background: url(../../../images/bg_timeline_l.png) no-repeat 0 70px;
	position: relative;
	padding: 0 0 0 100px;
	overflow: hidden;
	margin-bottom: 2rem;
}
.box_timeline{
	background: url(../../../images/bg_timeline_r.png) no-repeat 100% 70px;
	position: relative;
	padding: 0 100px 0 0;
	overflow: hidden;
}
.box_timeline ul{
	position: relative;
	background: url(../../../images/bg_ul.gif) repeat-x 0 76px;
	overflow: hidden;
}
.box_timeline ul li{
	float:left;
	width: 170px;
	margin: 0 0 0 30px;
	background: url(../../../images/bg_ul.gif) repeat-x 0 76px;
}
.box_timeline ul li:first-child{margin: 0;}

.box_timeline ul li .plant{
	background: url(../../../images/plantimg.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}

.box_timeline ul li .no-plant{
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}

.box_timeline h3{
	font-family: 'novecento_sans_widemedium';
	color: #50af6f;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}

.plants {
    // border: solid 1px orange;
}


.plant:hover {
    cursor: pointer;
}

.plant-container:hover > .plant .delete {
    display: inline;
    position: absolute;
    top: 0;
}

.delete {
    display: none;
    // border: solid 1px green;
}

.chart {
	margin-top: 0;
	// border: solid 1px green;
	padding: 0;
	height: 200px;
}

.chart-container {
	display: flex;
	flex-direction: column;
}

.chart-label {
	margin: 0 auto;
}