<!-- <div class="content">
    <div class="header">
        <h2 class="page-title">Growth Data</h2>
        <button class="add-plant" mat-raised-button (click)="addPlant()">Add Plant</button>
    </div>
    <div class="container">
        <form [formGroup]="plantsForm" (ngSubmit)="onSave()">
            <div class="fields">
                <p class="name">Plant</p>
                <p class="date">Date</p>
                <p class="growth">Growth</p>
            </div>
            <div *ngIf="plants.length > 0; else noPlants">
                <div *ngFor="let plant of plants" class="plants mat-elevation-z4">
                    <p class="name">{{ plant.name }}</p>
                    <mat-form-field appearance="outline" floatLabel="always" class="date">
                        <input (change)="setDate($event, plant)" matInput type="date" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="growth">
                        <input (change)="setGrowth($event, plant)" matInput type="number" />
                    </mat-form-field>
                    <span>cm</span>
                    <button mat-mini-fab type="button" class="delete" color="warn"
                        (click)="deletePlant(plant.id, plant.name)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <ng-template #noPlants>
                <p id="no-plants" class="mat-elevation-z4">No Plants</p>
            </ng-template>
            <button class="save" mat-raised-button type="submit">Save</button>
        </form>
    </div>
</div> -->
<div class="add-plant-container">
    <button class="add-plant" mat-raised-button (click)="addPlant()">Add Plant</button>
</div>
<section>
    <div class="box_timeline_holder">
        <div class="box_timeline">
            <ul>
                <li *ngFor="let plant of plants; let i = index;" class="plant-container">
                    <h3>{{ plant.name }}</h3>
                    <div class="plant" (click)="onEditPlant(plant)">
                        <mat-icon class="delete" svgIcon="delete" color="warn"
                            (click)="deletePlant(plant.id, plant.name)">
                        </mat-icon>
                    </div>
                    <div *ngIf="plant.growthData" echarts [options]="chartOptions[i]" class="chart"></div>
                </li>
            </ul>
        </div>
    </div>
</section>
<br><br><br><br>
<br><br><br>
<section>
    <div class="box_timeline_holder">
        <div class="box_timeline">
            <ul>
                <li>
                    <h3>Plant 1</h3>
                    <div class="plant"></div>
                    <label for="plant1">Plant name:</label><br>
                    <input type="text" id="plant1name" name="plant1name"><br>
                    <label for="plant1birthday">Plant 1 Birthday:</label>
                    <input type="date" id="plant1birthday" name="plant1birthday">
                </li>
                <li>
                    <h3>Plant 2</h3>
                    <div class="plant"></div>
                    <label for="plant2">Plant name:</label><br>
                    <input type="text" id="plant2name" name="plant1name"><br>
                    <label for="plant2birthday">Plant 2 Birthday:</label>
                    <input type="date" id="plant2birthday" name="plant2birthday">
                </li>
                <li>
                    <h3>Plant 3</h3>
                    <div class="plant"></div>
                    <label for="plant3">Plant name:</label><br>
                    <input type="text" id="plant3name" name="plant1name"><br>
                    <label for="plant3birthday">Plant 3 Birthday:</label>
                    <input type="date" id="plant3birthday" name="plant3birthday">
                </li>
                <li>
                    <h3>Plant 4</h3>
                    <div class="plant"></div>
                    <label for="plant4">Plant name:</label><br>
                    <input type="text" id="plant4name" name="plant1name"><br>
                    <label for="plant4birthday">Plant 4 Birthday:</label>
                    <input type="date" id="plant4birthday" name="plant4birthday">
                </li>
                <li>
                    <h3>Plant 5</h3>
                    <div class="plant"></div>
                    <label for="plant5">Plant name:</label><br>
                    <input type="text" id="plant5name" name="plant5name"><br>
                    <label for="plant5birthday">Plant 5 Birthday:</label>
                    <input type="date" id="plant5birthday" name="plant5birthday">
                </li>
            </ul>
        </div>
    </div>
</section>