<div id="wrapper">
  <div class="wrapper-holder">
    <header id="header">
      <a class="menu_trigger" href="#">menu</a>
      <nav id="nav">
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="myskills.html">Growth Charts</a></li>
          <li><a href="Contact.html">Settings</a></li>
        </ul>
      </nav>
      <h1 class="logo">Automated Aquaponic Garden</h1>
      <h2 class="slogan">Let's grow something</h2>
    </header>
  </div>
  <div class="wrapper-holder grey">
    <!-- Sockets -->
    <app-sockets></app-sockets>
  </div>
  <div class="footer-content">
    <!-- Plants -->
    <app-growth-data></app-growth-data>
  </div>
  <footer id="footer">
    <div class="footer-content">
      <br><br><br><br>
      <br><br><br>
      <ul class="social">
        <li class="email"><a href="#">Email</a></li>
        <li class="facebook"><a href="#">Facebook</a></li>
        <li class="google"><a href="#">Google+</a></li>
        <li class="twitter"><a href="#">Twitter</a></li>
        <li class="pinterest"><a href="#">Pinterest</a></li>
      </ul>
      <p class="copy">Copyright 2021 Wright State Group 11 (DK) All rights reserved.</p>
    </div>
  </footer>
</div>