<div class="container">
    <div class="header">
        <h3>{{ plant.name }}</h3>
        <span>
            <mat-icon class="close" mat-dialog-close>close</mat-icon>
        </span>
    </div>
    <!-- Growth Data -->
    <mat-tab-group>
        <mat-tab label="Chart">
            <div *ngIf="plant.growthData" echarts [options]="chartOption" class="chart"></div>
        </mat-tab>
        <mat-tab label="Data">
            <div class="data-container">
                <table mat-table [dataSource]="growthDataSource">

                    <!-- Date -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
                    </ng-container>

                    <!-- Growth (cm) -->
                    <ng-container matColumnDef="growth">
                        <th mat-header-cell *matHeaderCellDef> Growth (cm) </th>
                        <td mat-cell *matCellDef="let element"> {{ element.growth }} </td>
                    </ng-container>

                    <!-- Delete -->
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="delete-data" (click)="deleteGrowthData(element)">
                            <mat-icon color="warn">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </div>

        </mat-tab>
    </mat-tab-group>
    <div class="button-container">
        <button mat-raised-button (click)="addGrowthData()" class="add-data">Add Growth Data</button>
    </div>

    <!-- Add Growth Data -->
    <form [formGroup]="growthDataForm" (ngSubmit)="saveGrowthData()">
        <div formArrayName="data" *ngFor="let datum of growthData()['controls']; let i = index;">
            <div [formGroupName]="i">
                <mat-form-field class="date">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" formControlName="date">
                </mat-form-field>
                <mat-form-field class="growth">
                    <mat-label>Growth</mat-label>
                    <input type="number" matInput formControlName="growth">
                </mat-form-field>
                <span>cm</span>
                <mat-icon class="remove-form-field" color="warn" (click)="removeFormField(i)">delete</mat-icon>
            </div>
        </div>
        <button class="save-data" mat-raised-button *ngIf="growthData().length > 0" type="submit">Save Growth
            Data</button>
    </form>
</div>