<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet" />
<section id="main">
    <h2>Outlets</h2>
    <form>
        <div class="box_timeline_holder" *ngFor="let group of [0,4]">
            <!-- <div class="box_timeline_holder" *ngFor="let group of [0]"> -->
            <div class="box_timeline">
                <ul>
                    <ng-container *ngFor="let socket of sockets.slice(group, group + 4); let i = index;">
                        <li *ngIf="i < 4" class="socket">
                            <!-- Socket Status -->
                            <div [ngClass]="socket.status === 'ON' ? 'dateOn' : 'dateOff'" class="socket-toggle"
                                (click)="toggleStatus(socket)">
                                <span>{{ socket.status }}</span>
                            </div>
                            <h3>Socket {{ socket.id }}</h3>

                            <!-- Socket Type -->
                            <mat-label>Socket Type:</mat-label>
                            <mat-select (selectionChange)="setType($event, socket)" [value]="socket.type"
                                class="select">
                                <mat-option *ngFor="let type of types.value" [value]="type">
                                    <p>{{ type }}</p>
                                    <mat-icon *ngIf="type !== 'NONE'" class="delete" svgIcon="delete" color="warn"
                                        (click)="deleteSocketType(type)"></mat-icon>
                                </mat-option>
                                <mat-option value="ADD_TYPE" (click)="addSocketType()">Add Type...</mat-option>
                            </mat-select>

                            <!-- Socket Schedule -->
                            <mat-label>Schedule Type:</mat-label>
                            <mat-select [value]="socket.scheduleType" class="select"
                                (selectionChange)="setScheduleType($event, socket)">
                                <mat-option value="NONE">None</mat-option>
                                <mat-option value="INTERVAL">Interval</mat-option>
                                <mat-option value="CUSTOM">Custom Range</mat-option>
                            </mat-select>

                            <div [ngSwitch]="socket.scheduleType">
                                <div *ngSwitchCase="'CUSTOM'">
                                    <button mat-raised-button class="custom-range-btn" (click)="setSchedule(socket.id)">
                                        Add Custom Range
                                    </button>
                                </div>
                                <div *ngSwitchCase="'INTERVAL'">
                                    <div class="interval-labels">

                                    </div>
                                    <mat-slider step="1" min="1" [max]="intervalUnit === 'Minutes' ? '59' : '24'"
                                        (input)="setIntervalValue($event)" #intervalSlider thumbLabel>
                                    </mat-slider>
                                    <mat-radio-group [value]="intervalUnit">
                                        <mat-radio-button value="Minutes"
                                            (change)="setIntervalUnit(intervalSlider, 'Minutes')">Minutes
                                        </mat-radio-button>
                                        <mat-radio-button value="Hours"
                                            (change)="setIntervalUnit(intervalSlider, 'Hours')">Hours
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <button mat-raised-button class="interval-btn"
                                        (click)="saveInterval(socket.id || -1)">Save
                                        Interval</button>
                                </div>
                            </div>
                        </li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </form>
</section>