<div class="content">
    <div class="header">
        <p class="page-title">Sockets</p>
        <button class="add-plant" mat-raised-button (click)="addSocketType()">Add Socket Type</button>
    </div>
    <div class="sockets">
        <div class="fields">
            <span class="id">ID</span>
            <span class="type">Type</span>
            <span class="status">Status</span>
            <span class="schedule"></span>
        </div>
        <form [formGroup]="socketsForm" (ngSubmit)="onSave()">
            <div *ngFor="let socket of sockets; let i = index;" formArrayName="sockets">
                <div [formGroupName]="i">
                    <div class="socket mat-elevation-z4">
                        <span class="id">
                            {{ socket.id }}
                        </span>
                        <mat-form-field class="type mat-elevation-z4"
                            [ngStyle]="{'background-color': socket.type === 'NONE' ? '#adadad' : 'transparent'}">
                            <mat-select (selectionChange)="setType($event, socket)" formControlName="type">
                                <mat-option *ngFor="let type of types" [value]="type">
                                    <p>{{ type }}</p>
                                    <mat-icon class="delete" svgIcon="delete" color="warn"
                                        (click)="deleteSocketType(type)"></mat-icon>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-icon *ngIf="socket.status === 'ON'; else powerOff" class="status power"
                            [ngStyle]="{ 'color': 'green'}" (click)="setStatus('OFF', socket)">
                            power
                        </mat-icon>
                        <ng-template #powerOff>
                            <mat-icon class="status power" [ngStyle]="{ 'color': 'red'}"
                                (click)="setStatus('ON', socket)">
                                power_off
                            </mat-icon>
                        </ng-template>
                        <button mat-raised-button class="schedule" type="button" (click)="setSchedule(socket.id)">Set
                            Schedule</button>
                    </div>
                </div>
            </div>
            <button mat-raised-button type="submit">Save</button>
        </form>

    </div>
</div>