<div class="content">
    <div class="header">
        <p class="page-title">Sockets</p>
        <button class="add-plant" mat-raised-button (click)="addSocketType()">Add Socket Type</button>
    </div>
    <div class="sockets">
        <div class="fields">
            <span class="id">ID</span>
            <span class="type">Type</span>
            <span class="status">Status</span>
        </div>
        <form [formGroup]="socketsForm" (ngSubmit)="onSave()">
            <div *ngFor="let socket of sockets; let i = index;" formArrayName="sockets">
                <div [formGroupName]="i">
                    <div class="socket mat-elevation-z4">
                        <span class="id">
                            {{ socket.id }}
                        </span>
                        <mat-form-field class="type mat-elevation-z4"
                            [ngStyle]="{'background-color': socket.type === 'NONE' ? '#adadad' : 'transparent'}">
                            <mat-select (selectionChange)="setType($event, socket)" formControlName="type">
                                <mat-option *ngFor="let type of types" [value]="type">
                                    <p>{{ type }}</p>
                                    <mat-icon class="delete" svgIcon="delete" color="warn"
                                        (click)="deleteSocketType(type)"></mat-icon>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field
                            [ngStyle]="{'background-color' : socket.status === 'ON' ? '#c2edce' : socket.status === 'OFF' ? '#edc2c2' : '#adadad'}"
                            class="status mat-elevation-z4">
                            <mat-select (selectionChange)="setStatus($event, socket)" formControlName="status">
                                <mat-option *ngFor="let status of statuses | keyvalue" [value]="status.value">
                                    {{ status.value }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button mat-raised-button type="submit">Save</button>
        </form>

    </div>
</div>