ol, ul {
	list-style: none;
}

::ng-deep span.mat-option-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep span.mat-option-text mat-icon {
    display: none ;
}

::ng-deep span.mat-option-text:hover mat-icon {
    display: block;
}

.sockets-container {
    background-color: #28292b;
}


/*main
 */
 #main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
	background: url(../../../images/icon_header.png) no-repeat 50% 0;
}

#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 81px;
}

/* Timeline 
*/
.box_timeline_holder{
	background: url(../../../images/bg_timeline_l.png) no-repeat 0 22.25%;
	position: relative;
	overflow: hidden;
}
.box_timeline{
	background: url(../../../images/bg_timeline_r.png) no-repeat 100% 22.25%;
	position: relative;
	overflow: hidden;
}
.box_timeline ul{
	position: relative;
	background: url(../../../images/bg_ul.gif) repeat-x 0 23%;
	overflow: hidden;
	display: flex;
	justify-content: space-evenly;
	height: 500px;
	box-sizing: border-box;
	padding-top: 20px;
}
.box_timeline ul li{
	width: 170px;
	margin: 0 2rem 0;

}
.box_timeline ul li:first-child{margin: 0;}
.box_timeline ul li .dateOn{
	background: url(../../../images/bg_timeline_On.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .dateOff{
	background: url(../../../images/bg_timeline_Off.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}

.box_timeline ul li .date span{
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	padding: 15px 0 0 0;
}
.box_timeline h3{
	font-family: 'novecento_sans_widemedium';
	color: #50af6f;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.box_timeline p{
	font-family: Arial, Helvetica, sans-serif;
	color: #a4a7ac;
	font-size: 16px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}

.box_timeline span {
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin: 0 0 10px;
}

.box_timeline {
    color: #a4a7ac;
}

li {
    list-style-type: none;
}

.select {
    border-radius: 3px;
    width: 180px;
    padding: 0.4rem;
    background-color: #fff;
    margin-bottom: 1rem;
}

.socket-toggle:hover {
    cursor: pointer;
}

.custom-range-btn {
	font-family: 'novecento_sans_widemedium';
	background-color: #50af6f;
	color: #fff;
}

mat-slider {
	margin: 0.6rem auto;
}

::ng-deep .mat-slider-track-background {
	background-color: #a4a7ac;
}

::ng-deep mat-slider:hover .mat-slider-track-background {
	background-color: #a4a7ac;
}

::ng-deep .mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
	background-color: #50af6f;
}

::ng-deep mat-slider > div > div.mat-slider-thumb-container > div.mat-slider-thumb {
	background-color: #50af6f;
}

 ::ng-deep mat-slider > div > div.mat-slider-thumb-container > div.mat-slider-thumb-label {
	background-color: #50af6f;
}

.interval-btn {
	margin-top: 1rem;
	font-family: 'novecento_sans_widemedium';
	background-color: #50af6f;
	color: #fff;
}

.socket {
	padding: 1rem;
}

mat-radio-button {
	margin-bottom: 0.4rem;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
	background-color: #50af6f;

}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
	background-color: #50af6f;
	border-color: #50af6f;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
	background-color: #50af6f !important;
}