ol, ul {
	list-style: none;
}

::ng-deep span.mat-option-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep span.mat-option-text mat-icon {
    display: none ;
}

::ng-deep span.mat-option-text:hover mat-icon {
    display: block;
}

// .power{ 
//     min-width: 100px;
//     min-height: 100px;
//     border-radius: 50% !important;
//     font-size: 4rem;
// }

// .schedule {
//     flex: 1;
//     margin-top: 1rem;
//     padding-left: 1rem;
//     padding-right: 1rem;
// }

// button.schedule {
//     border: 1px solid lightgrey;
//     background-color: var(--primary-color);
//     color: var(--light-text-color);
//     text-shadow: none;
//     font-weight: 400;
// }

.sockets-container {
    background-color: #28292b;
}


/*main
 */
 #main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
	background: url(../../../images/icon_header.png) no-repeat 50% 0;
}
#main h2{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 81px;
}
.box_timeline_holder{
	background: url(../../../images/bg_timeline_l.png) no-repeat 0 70px;
	position: relative;
	padding: 0 0 0 100px;
	overflow: hidden;
}
.box_timeline{
	background: url(../../../images/bg_timeline_r.png) no-repeat 100% 70px;
	position: relative;
	padding: 0 100px 0 0;
	overflow: hidden;
}
.box_timeline ul{
	position: relative;
	background: url(../../../images/bg_ul.gif) repeat-x 0 76px;
	overflow: hidden;
}
.box_timeline ul li{
	float:left;
	width: 170px;
	margin: 0 0 0 30px;
	background: url(../../../images/bg_ul.gif) repeat-x 0 76px;
}
.box_timeline ul li:first-child{margin: 0;}
.box_timeline ul li .dateOn{
	background: url(../../../images/bg_timeline_On.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .dateOff{
	background: url(../../../images/bg_timeline_Off.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .plant{
	background: url(../../../images/plantimg.png) no-repeat 50% 0;
	height: 86px;
	width: 170px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .date span{
	font-family: 'novecentosanswide';
	font-weight:bold;
	color: #fff;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	padding: 15px 0 0 0;
}
.box_timeline h3{
	font-family: 'novecento_sans_widemedium';
	color: #50af6f;
	font-size: 14px;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.box_timeline p{
	font-family: Arial, Helvetica, sans-serif;
	color: #a4a7ac;
	font-size: 16px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}

.box_timeline span {
    font-size: 16px;
    line-height: 18px;
    display: block;
    margin: 0 0 10px;
}

.box_timeline {
    color: #a4a7ac;
}

li {
    list-style-type: none;
}

.type-select {
    border-radius: 3px;
    width: 180px;
    padding: 0.4rem;
    background-color: #fff;
    margin-bottom: 1rem;
}

.socket-toggle:hover {
    cursor: pointer;
}